/* True Crime */

@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #f9d502;
  --grey50: #9d9d9d;
  --grey100: #595959;
  --grey200: #302f37;
  --grey300: #333333;
  --bg-color: #404040;

  --primary-font: "Days One", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --main-text-color: #9d9d9d;
}

body {
  font-family: var(--secondary-font);
  background-color: var(--bg-color);
  background-image: url("/darkbackground.png");
  background-size: contain;
  color: var(--main-text-color);
}

h1 {
  font-family: var(--primary-font);
  color: var(--yellow);
}

h2 {
  font-family: var(--primary-font);
  color: var(--grey100);
  text-decoration: underline;
}

/* Header styling */

header {
  display: flex;
  justify-content: flex-end;
  background-color: var(--grey100);
  padding: 1em 0;
}

.hidden {
  display: none;
}
/* h1 will become img when logo is done! */

.nav-bar a {
  margin-right: auto;
  margin-left: 1em;
  height: 8em;
}

/* main styling */
main {
  position: relative;
}

.sub-section {
  height: max-content;
}

#subtitle {
  border: 1px solid var(--grey50);
  border-radius: 50px;
  margin: 4em 8em 2em 8em;
  padding: 1em;
  font-size: 20px;
  line-height: 1.7em;
}

#pic-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 1em 4em;
  padding: 0 4em 4em 4em;
  text-align: center;
}

.sk-link {
  margin: 5em 0;
  text-decoration: none;
}

.sk-pic {
  max-width: 250px;
  border-radius: 60%;
  border: 4px solid var(--yellow);
}

.sk-name {
  text-decoration: none;
  color: var(--grey50);
  margin-top: 2em;
}

.sk-name:hover {
  color: var(--yellow);
}

/* Profile styling */

button {
  width: 40px;
  height: 40px;
  background-color: var(--yellow);
  border: none;
  color: var(--grey100);
  text-align: center;
  text-decoration: none;
  margin: 20px 20px;
  border-radius: 50%;
  list-style: none;
}

button:hover {
  box-shadow: 0 0 5px var(--grey50);
  cursor: pointer;
}

button:active {
  box-shadow: 0 0 5px var(--grey50);
  transform: translateY(4px);
}

#back-button {
  color: var(--grey100);
  text-decoration: none;
  font-size: 20px;
}

/* Pop up styling */

.skc-txt {
  display: grid;
}

.popup {
  position: relative;
}

ul li {
  list-style: none;
  padding-left: 5px;
  font-weight: bold;
  color: var(--grey100);
}

li span {
  font-weight: normal;
  color: var(--grey50);
}
.close-me {
  position: absolute;
  right: 0;
}

.close-button {
  color: var(--grey50);
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

#sk-card {
  display: flex;
  /* width: 80vw; */
  box-shadow: 3px 3px 7px;
  background-color: var(--grey300);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  /* max-width: 200px;
  height: auto; */
}

.skc-pic {
  border-radius: 20px;
}

.read-more {
  position: relative;
  background-color: var(--bg-color);
  width: 200px;
  border-radius: 20px !important;
}

.read-link {
  color: var(--yellow);
  text-decoration: none;
  font-size: 18px;
}

/* Profile styling */

.sk-alias {
  font-size: 60px;
  text-align: center;
}

.sk-info h1 {
  color: var(--grey50);
  text-align: center;
  margin-bottom: 1em;
}

.sk-info {
  margin: 0 3em;
}

.sk-info p {
  padding: 10px;
}

/* footer styling */

footer {
  background-color: var(--grey300);
  padding: 1em 0;
  margin-top: 100px;
}

footer p {
  margin-left: 2em;
}

p a {
  text-decoration: none;
  color: var(--yellow);
}

/*comments section*/

textarea {
  width: 24rem;
}
